body {
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
    margin-bottom: 50px;
}

.main-image {
    height: 600px;
    background: url('/images/84435928.webp') no-repeat center center;
    background-size: cover;
    position: relative;
}

.main-image .overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 2s ease-in-out; /* 2秒間のアニメーション */
    z-index: 1;
}

h1 {
    z-index: 2;
    position: relative;
}

.feature-box {
    padding: 20px;
    transition: background-color 0.3s;
}

.feature-box:hover {
    background-color: #f8f9fa;
}

.testimonial {
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
}

.testimonial:before {
    content: "“";
    font-size: 50px;
    position: absolute;
    top: -15px;
    left: 20px;
    color: #999;
}

.testimonial:after {
    content: "”";
    font-size: 50px;
    position: absolute;
    bottom: -15px;
    right: 20px;
    color: #999;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
